:root {
    --pink: #deb2e2;
    --white: #ffffff;
    --black: #000000;
    --blue: #2b49aa;
}
* {
    color: var(--fontColor);
}
body {
   background: var(--bg);
   margin: 0em;
}
p {
    font-family: helvetica;
}
.light-theme {
    --bg: var(--pink);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--pink);
    --btnBg: var(--white);
    --btnFontColor: var(--blue);
}
.btn {
    position: absolute;
    top: 0%;
    left: 95%;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn:focus {outline-style: none}
.image-background{
    /* background-image: image(images/Christine.jpg); */
   /*  margin-left: 0%;
    padding-left: 0%; */
    height:500% ;
    width: 50%;
}
