:root {
    --pink: #deb2e2;
    --white: #ffffff;
    --black: #000000;
    --blue: #2b49aa;
}
* {
    color: var(--fontColor);
}
body {
   background: var(--bg); 
}
p {
    font-family: helvetica;
}
.light-theme {
    --bg: var(--pink);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--pink);
    --btnBg: var(--white);
    --btnFontColor: var(--blue);
}
.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn:focus {outline-style: none}
